#root {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-color: red black green orange;
    border-width: 10px;
    border-style: solid;
    margin: auto;
    justify-content: center;
}
.frutaContenedor{
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #2980B9;
    cursor: pointer;
}
.fruta{
    width: 100%;
    height: 100%;
    background-color: orange;
    font-size: 0px;
    cursor: pointer;

    transition: all 1s;
    transform-style: preserve-3d;

    display: flex;
    justify-content: center;
    align-items: center;


}


.activarIMG{
    font-size: 30px;
    transition: 0.37s;
}

